/node_modules
/public/hot
/public/storage
/storage/*.key
/storage/logs
/storage/public
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
/face_recognition/python/face-mark
/face_recognition/python/face-mark1
/face_recognition/python/face-mark/
/face_recognition/python/face-mark1/
/face_recognition/python/pre_embed/
/Data/
/face_recognition/python/pre_embed/__pycache__
/ServerSocket/output/
/face_recognition/python/output
/output
face_recognition/python/get_address.exe

